# Wallet Connect Project ID(for RainbowKit)
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=your_project_id_here

# Monad RPC (if needed for server side)
MONAD_RPC_URL=https://testnet-rpc.monad.xyz/

# SILICONFLOW API Key
SILICON_FLOW_API_KEY=

# Gemini API Key (for music analysis)
GEMINI_API_KEY=

# Contract Deployment
PRIVATE_KEY=
